* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '微軟正黑體', sans-serif;
  text-decoration: none;
  outline: none;
  letter-spacing: 1.5px;
  box-sizing: border-box;
}
html,
body {
  // background-color: #eff2f8;
  height: 100%;
  width: 100%;
  font-size: map-get($fontSize, medium);
}
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
