// 動畫
.error-enter {
  transform: rotateX(-90deg);
}
.error-enter-active {
  transition: transform 0.5s;
}
.error-enter-to {
  transform: rotateX(0deg);
}

.error-leave {
  transform: rotateX(0deg);
}
.error-leave-active {
  transition: transform 0.5s;
}
.error-leave-to {
  transform: rotateX(-90deg);
}
